
<h1>
  Pipes Demo
</h1>


<div>
  <ul>
    <li *ngFor="let student of students">
        <p>Name: {{ student.name | uppercase }}</p>
        <p>Name: {{ student.name | lowercase }}</p>
        <p>My Uppercase Pipe: {{ student.name | myuppercase }}</p>
        <p>My Uppercase Pipe: {{ student | myuppercase }}</p>
        <table border=1>
          <tr>
            <th>Lable</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>Date MM/dd/yyyy:</td>
            <td>{{ student.date | date:'MM/dd/yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <td>Date Full:</td>
            <td>{{ student.date | date: 'full'}}</td>
          </tr>
          <tr>
            <td>Date Medium:</td>
            <td>{{ student.date | date: 'medium'}}</td>
          </tr>
          <tr>
            <td>Fee</td>
            <td>{{ student.fee | currency }}</td>
          </tr>
        </table>
        
    </li>
  </ul>
</div>

<h1>Custom Pipe for data filter</h1>
  <ul>
    <li *ngFor="let student of students | studentrank">
      {{ student.name }}
    </li>
  </ul>

<h1 [ngClass]="{myDiv: isMobile}">
  Directies Demo
</h1>

<!--
<h1 [ngStyle]="{'color': myColor}">
  In-line CSS
</h1>-->

<input type="text" 
[ngClass]="{'myInput': isMobile, 'myInput-danger': isMobile}">

<ul>
  <li *ngFor="let student of students" 
      mycustomdirective>
      {{student.name}} - {{student.age}}
  </li>
</ul>

<div [hidden]="isMobile" style="background-color:red">
  Show/Hide Demo
</div>


<div *ngIf="!isMobile; else mobDevContent">
  You are on Desktop Device
</div>

<div *ngIf="!isUserAdmin; else mobDevContent">
  You are on Desktop Device
</div>

<!-- else part -->
<ng-template #mobDevContent>
  <div>
    You are on Mobile Device
  </div>
</ng-template>



<button (click)="toggle()">Toggle</button>